
body{
    font-family: "Roboto", serif;
    color: var(--white-color); 

    background-image: url(../imagens/5.png);    
}

form{
    gap: 1rem;
    background-color: var(--containers-bg-color);
    height: 100vh;
}



.form-control{
    background-color: var(--input-checbox-color);
    color: var(--white-color);
}

.form-control:hover{
    background-color: var(--input-bg-color-hover);
}

.custom-input{
    border: none;
}

.custom-input:focus{
    background-color: var(--white-color);
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--input-checbox-color);
    border-color: var(--theme-color);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-link{
    font-weight: bold;
    background-color: var(--theme-color);
}

.custom-outline-bt{
    border-color: var(--theme-color);
    color: var(--theme-color);
}
