
body{
    font-family: "Roboto", serif;
    color: var(--white-text-color); 

    background-color: var(--containers-bg-color);    
}
.cart-toggler {
    background-color: transparent;
    border: none;
    padding: 12px 12px;
}

.custom-navbar{
    background-color: black;
}

.navbar-toggler {
    border: 0px;
    padding: 0px;
}

.navbar-menu-icon {
    background-image: url(../imagens/Menu.svg);
    padding:14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}


.navbar-cart-icon{
    background-image: url(../imagens/cart-frame.svg);
    padding: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.cart-toggler{
    padding: 0px;
}

.custom-badge {
    border-radius: 100%;
    padding: 2px 4px;
    position: relative;
    left: -10px;
    bottom: 8px;
}


.logo-text-container{
    margin-left: 4px;
    font-size: 16px;
}

.nav-login-logo{
    background-image: url(../imagens/ico\ pessoa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    padding: 10px 12px;
}

.custom-close {
    color: white;
}

.cards-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.cards-container-title{
    grid-column-start: 1;
     grid-column-end: 3;
}

.card-elements-shop {
    gap: 4px;
    display: grid;
    grid-template: 
            "b c c";
}

.area-b{
    border-radius: 5px;
    grid-area: b;
}

.area-c{
    grid-area: c;
}

.custom-img{
    background-image: url(../imagens/5.png);
}





@media (min-width:550px) and (max-width:765px) {
    
    .cards-container{
        grid-template-columns: auto auto auto;

    }
    
    .cards-container .card:last-child{
        display: none;
    }

    .cards-container-title{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}


@media (min-width:766px) {
    
    .cards-container{
        grid-template-columns: auto auto auto auto;
    }

    .cards-container-title{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}




@media (min-width: 992px){

    .custom-navbar{
        z-index: 0;
    }

    .cart-colapse-content{
        margin-top: 50px;
        position: static;
        width: 45%;
        z-index: 1;
    }
}



















@media (max-width: 575px){
    .conteudo-img{
        display: none;
    }

    