
body{
    font-family: "Roboto", serif;
    color: var(--black-text-color); 
    
    background-color: var(--containers-bg-color);    
}

/*navbar*/

#nav{
    height: 60px;
}

.custom-navbar{
    background-color: var(--black-collor);
}

.navbar-toggler {
    border: 0px;
    padding: 0px;
}

.navbar-menu-icon {
    background-image: url(../imagens/Menu.svg);
    padding:14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.logo-text-container{
    margin-left: 4px;
    font-size: 16px;
}

.cart-toggler {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.navbar-cart-icon{
    background-image: url(../imagens/cart-frame.svg);
    padding: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.custom-badge {
    border-radius: 100%;
    padding: 2px 4px;
    position: relative;
    left: -10px;
    bottom: 8px;
}

.nav-login-logo{
    background-image: url(../imagens/ico\ pessoa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    padding: 10px 12px;
}

/*carrousel*/

.carousel-container{
    max-width: 1150px;
    margin: 0 auto;
}

.carousel-item{
    max-height: 400px;
}

.carousel-title {
    font-size: 24px;
    font-weight: var(--bold-font-weight);
}

.carousel-paragraph {
    font-size: 16px;
    
}


/*conjunto de cards*/

.custom-link{
    font-weight: bold;
    background-color: var(--theme-color);
}

.gameCard {
    border: none;
    border-radius: 6px;
}

.cart-itens-container{
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    
}

.card-image{
    height: 47%;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.cards-container, .cards-container-promo{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin: 3rem 0.5rem 3rem 0.5rem;
    max-width: 1024px;
}

.cards-container-title{
    grid-column-start: 1;
    grid-column-end: 3;
}

.banner {
    display: none !important; 
}

/*cart list*/


.cart-colapse-content{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    
}

/*footer*/

.footer-text{
    font-size: 12px;
    
}
.footer-top{
    display: flex;
    align-items: center;
    background-color: var(--theme-color);
}

.links li {
    padding: 2px;
}

.links li a{
    color: var(--black-collor);
}


@media (min-width:540px) and (max-width:765px) {
    
    .carousel-item{
        padding: 1rem 1rem 0 1rem;
    }

    .cards-container{
        grid-template-columns: auto auto auto;

    }
    
    .cards-container .card:last-child{
        display: none;
    }

    .cards-container-promo .card:nth-last-child(1), .cards-container-promo .card:nth-last-child(2){
        display: none;
    }

    .cards-container-title{
        grid-column-start: 1;
        grid-column-end: 4;
    }

}


.background{
    background-color: var(--containers-bg-color);
}

@media (min-width:766px){

    .carousel-item{
        padding: 1rem 1rem 0 1rem;
    }

    .cards-container, .cards-container-promo{
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
        margin: 3rem 1rem 3rem 1rem;
    }

    .cards-container-title{
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .banner {
        display: flex !important; 
    }
}

@media (min-width: 992px){


    .cart-colapse-content{
        position: fixed;
        top:60px;
        right: 0px;
        width: 350px;
        height: 25%;
        
    }
}