
body{
    font-family: "Roboto", serif;
    color: var(--white-text-color); 
    
    background-color: var(--containers-bg-color);    
}

/*navbar*/
.custom-navbar{

}

.navbar-toggler {
    border: 0px;
    padding: 0px;
}

.navbar-menu-icon {
    background-image: url(../imagens/Menu.svg);
    padding:14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.logo-text-container{
    margin-left: 4px;
    font-size: 16px;
}

.cart-toggler {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.navbar-cart-icon{
    background-image: url(../imagens/cart-frame.svg);
    padding: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.custom-badge {
    border-radius: 100%;
    padding: 2px 4px;
    position: relative;
    left: -10px;
    bottom: 8px;
}

.nav-login-logo{
    background-image: url(../imagens/ico\ pessoa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    padding: 10px 12px;
}

/*carrousel*/

.carousel-container{
    max-width: 1150px;
    margin: 0 auto;
}

.carousel-item{
    max-height: 400px;
}

/*conjunto de cards*/
.cards-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin: 3rem 0.5rem 3rem 0.5rem;
    max-width: 1024px;
}

.cards-container-title{
    grid-column-start: 1;
    grid-column-end: 3;
}

.card-elements-shop {
    gap: 4px;
    display: grid;
    grid-template: 
    "b c c";
}

.area-b{
    border-radius: 5px;
    grid-area: b;
}

.area-c{
    grid-area: c;
}


/*cart list*/

.custom-close {
    color: white;
}



@media (min-width:540px) and (max-width:765px) {
    
    .carousel-item{
        padding: 1rem 1rem 0 1rem;
    }

    .cards-container{
        grid-template-columns: auto auto auto;

    }
    
    .cards-container .card:last-child{
        display: none;
    }

    .cards-container-title{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}


@media (min-width:766px){

    .carousel-item{
        padding: 1rem 1rem 0 1rem;
    }

    .cards-container{
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
        margin: 3rem 1rem 3rem 1rem;
    }

    .cards-container-title{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

@media (min-width: 992px){


    .cart-colapse-content{
        margin-top: 50px;
        position: static;
        width: 45%;
        
    }
}



















@media (max-width: 575px){
    .conteudo-img{
        display: none;
    }

    