@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", serif;
    color: white;
    background-color: black;
}

.conteudo{
background-image: url(../imagens/imagem\ com\ gradiente.png);
height: 100vh;
}

form{
    gap: 28px;
    background-color: black;
}

.form-control{
    background-color: rgba(255,255,255,0.1);
}
.form-control:hover{
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.custom-input:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
}

.custom-input{
    border: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgba(255,255,255,0.2); /* Altere para a cor desejada */
    border-color: white; /* Altere para a cor desejada */
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
  
.btn{
    font-weight: 600;
    color: black;  
}

form a {
    text-decoration: underline;
}

@media (max-width: 575px){
    .conteudo{
        height: 210px;
    }
}