
body{
    font-family: "Roboto", serif;
    color: var(--white-text-color); 

    background-image: url(../imagens/5.png);    
}

form{
    gap: 1rem;
    background-color: var(--containers-bg-color);
    height: 100vh;
}

.custom-link{
    font-weight: bold;
    background-color: var(--emphasis-bg-color);
}


.form-control{
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.form-control:hover{
    background-color: rgba(255,255,255,0.2);
    
}

.custom-input:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    color: white;
}

.custom-input{
    border: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--input-checbox-color);
    border-color: white;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}


@media (max-width: 575px){
    .conteudo-img{
        display: none;
    }
}