.mt-custom{
    margin-top: 80px;
}

.swiper{
  max-width: 1200px;
}

.swiper-pagination-bullet {
  background-color: var(--white-color);      
  width: 10px;
  height: 10px;
  opacity: 0.5;                  
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active { 
  opacity: 1;  
}

.swiper-button-prev, .swiper-button-next{
  color: var(--white-color);
}