.custom-input {
    border: none;
    background: var(--input-bg-color);
}

.custom-input:focus{
    background-color: var(--black-color);
}

.custom-input::placeholder {
    font-size: 14px;
    opacity: 0.6;
}